@import url('./iransans-fonts.css');

:root{
    --text-xs : 0.725rem;
    --text-sm : 0.875rem;
    --text-base : 1.0625rem;
    --text-md : 1.125rem;
    --text-lg : 1.25rem;
    --text-xl : 1.385rem;
    --text-2xl : 1.5rem;
    --text-3xl : 2.25rem;

    --background-primary: #f2f5f8;
}

html{
    font-family: IRANSansX;
    font-size: 100%;
    color: rgba(64, 64, 64, 1);
    line-height: 1.7;
}

p{
    line-height: 1.7;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    font-family: inherit;
    cursor: pointer;
}





.container{
    width: 100%;
    margin: auto;
    padding-right: 7%;
    padding-left: 7%;
    box-sizing: border-box;
}

/* Shared Styles */

.button{
    border: none;
    padding: 1rem 2rem;
    outline: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: bold;
}

.button-green{
    background-color: rgb(0, 209, 112);
    color: white;
}


@media (max-width: 575.98px){
    .container{
        max-width: 100%;
    }
}

@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}

@media (min-width: 1400px){
    .container{
        max-width: 1320px;
    }
}

.navbar{
    height: 5.5rem;
    background-color: white;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color:  rgb(63, 63, 63);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0git;
}

.navbar__section{
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar__section .navbar__logo img{
    width: 90px;
}


.navbar__links{
    display: flex;
}

.navbar__links > li{
    position: relative;
    margin-right: 2.2rem;
    display: flex;
    font-weight: 300;
    align-items: center;
    padding: 1rem 0;
}

.navbar__links > li > a{
    text-decoration: none;
    color: inherit;
}

.navbar__links > li > div.nav-icon{
    margin-right: .5rem;
    opacity: .7;
    transform: scale(.6) rotate(90deg);
}

.navbar__links > li:hover .navbar__links-menu{
    display: block;
}

.navbar__links-menu{
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem 0;
    border-radius: 0.75rem;
    z-index: 10000;
    top: 3rem;
    right: -2rem;
}

.navbar__links-menu > li{
    padding: 0.75rem 1rem;
    white-space: nowrap;
    font-weight: 300;
}

.navbar__links-menu a{
    text-decoration: none;
    color: inherit;
}

.navbar__links-menu a:hover{
    color: #00d170;
    font-weight: 700;

}


/* 
 * Hero Section
*/


.hero-section{
    padding-top: 5.5rem;
    display: flex;
    width: 100%;
}

.hero-section__intro{
    background-color: #21aa58;
    color: white;
    width: 100%;
    padding: 1rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.hero-section__intro_tagline{
    font-size: var(--text-2xl);
    font-weight: 700;
    line-height: 3.25rem;

}

.hero-section__intro_description{
    font-size: var(--text-base);
    font-weight: 300;
    line-height: 1.7;
    text-align: right;
    padding: 0.5rem 0;
}

.hero-section__intro_sendlink{
    display: none;
    align-items: center;
    height: 3.5rem;
    margin-bottom: 1rem;
}

.hero-section__intro_sendlink button{
    background-color: white;
    color: #21aa58;
    margin-right: 1rem;
    padding: 0 0.5rem;
    font-size: var(--text-sm);
    font-weight: 700;
    border: none;
    line-height: 1;
    border-radius: 0.375rem;
    font-family: inherit;
    flex-basis: 24%;
    height: 2.5rem;
}

.hero-section__intro_sendlink_input{
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    flex-basis: 50%;
}

.hero-section__intro_sendlink_input input{
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    line-height: 3rem;
    padding: 0 0.5rem;
    height: 2.5rem;
    width: 100%;
}

.hero-section__intro_sendlink_input input::placeholder{
    color: rgba(191, 230, 207,1);
}

.hero-section__intro_sendlink_input .input_dot{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    background-color: white;
    margin-left: 0.5rem;
}

.hero-section__intro a{
    width: fit-content;
}

.hero-section__intro_gotowebapp{
    display: none;
    background-color: transparent;
    border: 0.05rem solid white;
    color: white;
    cursor: pointer;
    height: 3rem;
    font-weight: bold;
    font-size: var(--text-md);
    line-height: 1;
    padding: 0 1.5rem;
    border-radius: 0.375rem;
}

.hero-section__intro_gotowebapp:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.hero-section a{
    width: 100%;
}

.hero-section__downloadapp{
    border: none;
    background-color: white;
    color: #333;
    cursor: pointer;
    height: 3rem;
    font-weight: bold;
    padding: 0.5rem 0;
    border-radius: 0.375rem;
    width: 100%;
    font-size: var(--text-sm);
}


.hero-section__pic{
    background-image: url("./static/img/intro_pic.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    flex: 0 0 50%;
    min-height: 40vh;
    transform: rotateY(180deg);
    display: none;
}


@media only screen and (min-width: 992px){

    .hero-section__pic{
        display: block;
    }
    
    .hero-section__intro{
        width: 50%;
        padding: 2rem;
        padding-right: 15%;
    }

    .hero-section__intro_tagline{
        font-size: var(--text-3xl);
        margin-bottom: 1rem;
    }


    .hero-section__intro_description{
        font-size: var(--text-lg);
        padding: 0;
        margin-bottom: 1rem;
    }

    .hero-section__intro_sendlink{
        display: flex;
    }

    .hero-section__intro_gotowebapp{
        display: block;
    }

    .hero-section__downloadapp{
        display: none;
    }

    
}



/* 
 * Snapp Apps Links
*/

.snap-apps-links-section{
    display: none;
}


.snap-apps-links{
    min-height: 30vh;
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: space-evenly;
    align-items: center;
    content-visibility: auto;
}

@media only screen and (min-width: 992px){

    .snap-apps-links-section{
        display: block;
    }
}

/* 
 * Intro Of Snapp
*/

.intro-of-snapp-apps{
    background-color: var(--background-primary);
    padding-bottom: 3rem;
    color: #333;
}

.intro-of-snapp-apps_items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    align-items: stretch;
}
.intro-of-snapp-apps_item img{
    width: 48px;
    height: 48px;
}

.intro-of-snapp-apps_items > a{
    text-decoration: none;
    color: inherit;
}

.intro-of-snapp-apps_title{
    font-size: var(--text-lg);
    font-weight: 700;
    line-height: 3.25rem;
    padding: 2.5rem 0;
    text-align: center;
}


.intro-of-snapp-apps_item{
    background-color: #fff;
    border-radius: 1.125rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    flex-direction: column;
    height: 90%;
}

.intro-of-snapp-apps_item_info h3{
    margin: 0.5rem 0;
    font-weight: bold;
    font-size: var(--text-sm);
    text-align: center;
    line-height: 1.5;
}

.intro-of-snapp-apps_item_info p{
    font-size: var(--text-sm);
    color: rgba(0, 0, 0, 0.6);
    display: none;
}


@media only screen and (min-width: 992px){
    
    .intro-of-snapp-apps_items{
        grid-template-columns: repeat(auto-fill, 20rem);
        justify-content: center;
        gap: 2rem;
    }

    .intro-of-snapp-apps_title{
        font-size: var(--text-3xl);
    }

    .intro-of-snapp-apps_item{
        flex-direction: row;
        height: auto;
    }

    .intro-of-snapp-apps_item_info{
        margin-right: 0.5rem;
        padding: 1rem 0;
    }

    .intro-of-snapp-apps_item_info h3{
        text-align: right;
        font-size: var(--text-base);
    }

    .intro-of-snapp-apps_item_info p{
        display: block;
    }

    .intro-of-snapp-apps_item img{
        width: 62px;
        height: 62px;
    }
    

}


/* 
 * Snapp Slider
*/

.snapp-slider-section{
    padding: 2.5rem 0;
    margin: 2.5rem 0 2rem;
}

.snapp-slider-wrapper{
    padding: 0 1rem;
    position: relative;
}

#snapp_slider {
    border-radius: 0.5rem;
}

#snapp_slider .keen-slider__slide{
    height: 25rem;
    width: 100%;
}

.keen-slider__slide a{
    width: 100%;
    height: 100%;
}

.keen-slider__slide a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.snapp-slider-wrapper .keen-dots-wrapper{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0.5rem;
    right: 0;
    left: 0;
    z-index: 900000;
}

.snapp-slider-wrapper .keen-dots{
    background-color: rgba(222, 222, 222, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    border-radius: 0.625rem;
    padding: 0.3125rem;
    direction: ltr;
}

.snapp-slider-wrapper .keen-dots .dot{
    border-radius: 50%;
    padding: 0.25rem;
    border: none;
    width: 5px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 0.2rem;
}

.snapp-slider-wrapper .keen-dots .dot.active{
    background-color: white;
    cursor: auto;
}

/* 
 * Snapp For All Needs
*/

.snapp-for-all-needs{
    display: flex;
    position: relative; 
    min-height: 700px;
}

.snapp-for-all-needs__pic{
    background-image: url("./static/img/super-app.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    flex: 0 0 50%;
    height: 50vh;
    min-height: 28.125rem;
}

.snapp-for-all-needs__intro{
    padding: 2rem;
    padding-left: 15%;
    color: rgb(64, 64, 64);

}

.snapp-for-all-needs__intro h2{
    font-size: var(--text-xl);
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    line-height: 1.7;
    font-weight: 700;
    color: inherit;
}

.snapp-for-all-needs__intro p{
    font-size: var(--text-sm);
    margin: 1rem 0;
    font-weight: 300;
}


.snapp-benefits{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgb(64, 64, 64);
}

.snapp-benefits__items{
    /* padding: 5rem; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem;
    padding: 0 6rem;
}

.snapp-benefits__item_cover{
    background-color: var(--background-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.125rem;
}

.snapp-benefits__item_title{
    font-weight: bold;
    margin: 1rem 0;
}

.snapp-benefits__item_description{
    font-weight: bold;
    font-size: var(--text-xs);
    margin: 1rem 0;
    font-weight: 300;
}



/* 
 * Driver Registration
*/

.driver-registration{
    background-color: var(--background-primary);
    padding: 2.5rem;
    text-align: center;
}

.driver-registration__title{
    font-size: var(--text-3xl);
    font-weight: bold;
}

.driver-registration__description{
    padding: 1rem 0;
    font-weight: 300;
    font-size: var(--text-md);
}

.driver-registration__btn{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}



.driver-registration__video video{
    width: 100%;
    height: 100%;
    margin: 2.5rem 0;
    border-radius: 0.7rem;
}

.driver-registration__benefits{
    margin: 2.5rem 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 2rem;
    column-gap: 1rem;
}

.driver-registration__benefits_item{
    background-color: white;
    border-radius: 1rem;
    padding: 2.5rem 1.5rem;
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: center;
}



.benefits_item_info h4{
    font-weight: bold;
    padding: 1rem 0;
}

.benefits_item_info p{
    font-size: var(--text-sm);
}



/* 
    * Footer
*/

.footer{
    padding: 2.5rem 0;
}

.footer__links{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer__links li{
    margin: 0.5rem 0;
}


.footer__socials{
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
}

.footer__socials i{
    margin: 0 0.2rem;
}

.footer__etemad{
    display: flex;
    justify-content: center;
}

.footer__etemad a{
    margin: 0.5rem 0;
}

